.login-card {
    max-width: 400px;
    min-height: 300px;
    text-align: center;
    margin: 60px 0px;
}
.content {
    margin: 30px 0px;
}

.actions {
    width: 50%;
    margin-bottom: 6px;
}

.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
